locals {
    secrets_vars = {
        default = {
            aws_access_key  = ""
            aws_secret_key  = ""
        }
    }
    secrets                 = merge(local.secrets_vars[terraform.workspace])
}
